In [100]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [101]:
data = pd.read_csv(r'd:\sys\Users\akbear\skillfactory\files\millionaire\movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
927,tt0287717,38000000,119723358,Spy Kids 2: Island of Lost Dreams,Antonio Banderas|Carla Gugino|Alexa PenaVega|D...,Robert Rodriguez,Little Spies. Big Attitudes,Exploring the further adventures of Carmen and...,100,Action|Adventure|Comedy|Family,Dimension Films,8/7/2002,5.2,2002
552,tt0260866,50000000,100020092,Don't Say a Word,Michael Douglas|Sean Bean|Brittany Murphy|Skye...,Gary Fleder,...I'll never tell.,When the daughter of a psychiatrist is kidnapp...,113,Thriller,20th Century Fox|Village Roadshow Pictures|NPV...,9/28/2001,6.1,2001
1367,tt0355295,88000000,105316267,The Brothers Grimm,Heath Ledger|Matt Damon|Mackenzie Crook|Roger ...,Terry Gilliam,Eliminating Evil Since 1812.,"Folklore collectors and con artists, Jake and ...",118,Adventure|Fantasy|Action|Comedy|Thriller,The Weinstein Company|Summit Entertainment|Atl...,8/25/2005,5.4,2005
1665,tt0358349,26000000,28818995,Agent Cody Banks 2: Destination London,Frankie Muniz|Anthony Anderson|Hannah Spearrit...,Kevin Allen,Adventure is an attitude.,"With all-new gadgets, high-flying action, exci...",100,Comedy,Splendid Pictures|Maverick Films|Metro-Goldwyn...,12/3/2004,5.3,2004
1761,tt0419843,10000000,17500000,In the Land of Women,Meg Ryan|Kristen Stewart|Adam Brody|JoBeth Wil...,Jon Kasdan,Get ready to fall,After a bad breakup with his girlfriend leaves...,97,Romance|Comedy|Drama,Castle Rock Entertainment|Land Films Inc.|Anon...,4/16/2007,6.0,2007

In [102]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [158]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data = pd.read_csv(r'd:\sys\Users\akbear\skillfactory\files\millionaire\movie_bd_v5.csv')
data2 = data.assign(profit = data.revenue - data.budget)
data3 = data2[data2.release_year == 2008]
data4 = data2[(data2.release_year > 2011) & (data2.release_year < 2015)]

def self_filter(row):
    return [element for element in row[1] if element != row[0]]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [159]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

data.original_title[data.budget == data.budget.max()].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [160]:
answers['2'] = 'Gods and Generals'

data.original_title[data.runtime == data.runtime.max()].values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [161]:
answers['3'] = 'Winnie the Pooh'

data.original_title[data.runtime == data.runtime.min()].values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [162]:
answers['4'] = '109.66'

data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [163]:
answers['5'] = '107.0'

data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [164]:
# лучше код получения столбца profit вынести в Предобработку что в начале

answers['6'] = 'Avatar' 

data2.original_title[data2.profit == data2.profit.max()].values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [165]:
answers['7'] = 'The Lone Ranger'

data2.original_title[data2.profit == data2.profit.min()].values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [166]:
answers['8'] = '1478'

data2[(data2.profit > 0)].profit.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [167]:
answers['9'] = 'The Dark Knight'

data3.original_title[data3.profit == data3.profit.max()].values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [168]:
answers['10'] = 'The Lone Ranger'

data2.loc[(data2.profit == data2.profit.min()) 
          & (data2.release_year > 2011) 
          & (data2.release_year < 2015)
         ].original_title.values[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [169]:
answers['11'] = 'Drama'

movies_genres = data.copy()
movies_genres.genres = movies_genres.genres.str.split('|') # делим жанры на списки
movies_genres = movies_genres.explode('genres') # разбиваем списки на строки
movies_genres = movies_genres.groupby(['genres']).count() # группируем жанры
movies_genres = movies_genres.loc[:, ['imdb_id']] #убираем лишнее
movies_genres.sort_values(by = 'imdb_id', ascending=False).index[0]#выводим первый индекс отсортированного списка

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [170]:
answers['12'] = 'Drama'

movies_genres = data2.copy().query('profit > 0') #отсеиваем убыточные фильмы
movies_genres.genres = movies_genres.genres.str.split('|') # делим жанры на списки
movies_genres = movies_genres.explode('genres') # разбиваем списки на строки
movies_genres = movies_genres.groupby(['genres']).count().sort_values(by = 'imdb_id') # группируем жанры
movies_genres = movies_genres.loc[:, ['imdb_id']] #убираем лишнее
movies_genres.sort_values(by = 'imdb_id', ascending=False).index[0] #выводим первый индекс отсортированного списка

'Drama'


# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [171]:
answers['13'] = 'Peter Jackson'

movies_directors = data.copy()
movies_directors.director = movies_directors.director.str.split('|') # разделяем режиссёров на списки
movies_directors = movies_directors.explode('director') # разделяем списки
movies_directors = movies_directors.groupby(['director'])['revenue'].sum() # группируем режиссеров и сумму их сборов
movies_directors.sort_values(ascending=False).index[0] #выводим первый индекс отсортированного списка

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [172]:
answers['14'] = 'Robert Rodriguez'

movies_directors = data.copy()[data.genres.str.contains("Action")] # удаляем фильмы не-Action
movies_directors.director = movies_directors.director.str.split('|') # разделяем режиссёров на списки
movies_directors.genres = movies_directors.genres.str.split('|') # разделяем жанры на списки
movies_directors = movies_directors.explode('director') # разделяем списки
movies_directors = movies_directors.groupby(['director'])['genres'].sum() #группируем по режиссерам, суммируя жанры

directors_action = pd.DataFrame(movies_directors)
directors_action = directors_action.assign(actions = directors_action.genres.apply(lambda x: x.count('Action')))
#добавляем колонку с количеством упоминаний жанра Action
directors_action.sort_values(by = "actions", ascending=False).index[0] #выводим первый индекс отсортированного списка

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [173]:
answers['15'] = 'Chris Hemsworth'

movies_cast = data.copy()
movies_cast = movies_cast[movies_cast.release_year == 2012]
movies_cast.cast = movies_cast.cast.str.split('|') # разделяем актеров на списки
movies_cast = movies_cast.explode('cast') # разделяем списки
movies_cast = movies_cast.groupby(['cast'])['revenue'].sum() # группируем актеров и сумму их сборов
movies_cast.sort_values(ascending=False).index[0] #выводим первый индекс отсортированного списка

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [174]:
answers['16'] = 'Matt Damon'

movies_cast = data.copy()[data.budget > data.budget.mean()] # выкидываем "низкобюджетные" фильмы
movies_cast.cast = movies_cast.cast.str.split('|') # разделяем актеров на списки
movies_cast = movies_cast.explode('cast') # разделяем списки
movies_cast = movies_cast.groupby(['cast'])['imdb_id'].unique() #группируем по актерам
actors = pd.DataFrame(movies_cast)
actors = actors.assign(films = actors.imdb_id.apply(lambda x: len(x))) #добавляем колонку с суммой упоминаний актера
actors.sort_values(by = 'films', ascending=False).index[0] #выводим первый индекс отсортированного списка

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [175]:
answers['17'] = 'Action'

movies_cage = data.copy()[data.cast.str.contains('Nicolas Cage')] # выкидываем фильмы без Николая
movies_cage.genres = movies_cage.genres.str.split('|') # разделяем жанры на списки
movies_cage = movies_cage.explode('genres') # разделяем списки
movies_cage = movies_cage.groupby(['genres'])['imdb_id'].unique() #группируем по жанрам
cage = pd.DataFrame(movies_cage)
cage = cage.assign(count = cage.imdb_id.apply(lambda x: len(x))) #добавляем колонку с суммой упоминаний жанра
cage.sort_values(by = 'count', ascending=False).index[0] #выводим первый индекс отсортированного списка

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [176]:
answers['18'] = 'K-19: The Widowmaker'

movies_paramount = data.copy()[data.production_companies.str.contains('Paramount Pictures')] # оставляем только Paramount
movies_paramount = movies_paramount.assign(profit = data.revenue - data.budget) # добавляем столбец с выручкой
movies_para_title = movies_paramount.loc[:, ['original_title','profit']] #убираем лишнее
movies_para_title.sort_values(by = 'profit').reset_index().original_title[0] #сортируем и выводим название первого в списке

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [177]:
answers['19'] = '2015'

movies_year = data.copy()

movies_year = movies_year.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False) #группируем по годам
movies_year.index[0] #выводим первый индекс отсортированного списка

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [178]:
answers['20'] = '2014'

movies_warner = data.copy()[data.production_companies.str.contains('Warner Bros')] # оставляем только братьёв
movies_warner = movies_warner.assign(profit = movies_warner.revenue - movies_warner.budget) # добавляем столбец с выручкой

movies_warner_year = movies_warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False) #группируем по годам
movies_warner_year.sort_values(ascending=False).index[0] #выводим первый индекс отсортированного списка

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [179]:
answers['21'] = '9'

movies_date = data.copy()
movies_date.release_date = movies_date.release_date.str.split('/') # разделяем дату на список [м, д, г]
movies_date['month'] = movies_date.release_date.apply(lambda x: x[0]) #добавляем колонку с месяцем выхода

movies_date.month.value_counts().sort_values(ascending=False).index[0] #суммируем месяцы, сортируем и выводин наиболее частый

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [180]:
answers['22'] = '450'

movies_date = data.copy()
movies_date.release_date = movies_date.release_date.str.split('/') # разделяем дату на список [м, д, г]
movies_date['month'] = movies_date.release_date.apply(lambda x: x[0]) #добавляем колонку с месяцем выхода
movies_summer = movies_date[movies_date.month.str.contains('6|7|8')] #оставляем только летние месяцы
len(movies_summer.index)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [181]:
answers['23'] = 'Peter Jackson'

movies_winter = data.copy()
movies_winter.release_date = pd.to_datetime(data.release_date) # переводим время из строки в объект
movies_winter.director = movies_winter.director.str.split('|') #делим режиссеров на списки
movies_winter = movies_winter.explode('director') #разбиваем списки режиссеров на строки
movies_winter['release_date'] = movies_winter['release_date'].dt.month.isin([12,1,2]) # отсеиваем все, кроме зимних месяцев
movies_winter.groupby('director')['release_date'].sum().sort_values(ascending = False).index[0] 
#группируем по режиссерам, суммируем фильмы, сортируем по убыванию

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [182]:
answers['24'] = 'Four By Two Productions'

movies_title = data.copy()

movies_title['title_length'] = movies_title.original_title.str.len() # добавляем столбец с длиной названия
movies_title.production_companies = movies_title.production_companies.str.split('|') # разделяем студии на списки
movies_title = movies_title.explode('production_companies') # разделяем списки по строкам
movies_title_length = movies_title.groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False)
#групируем по студиям вычисляя среднюю длину названия и сортируем по убыванию
movies_title_length.index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [183]:
answers['25'] = 'Midnight Picture Show'

movies_desc = data.copy()

movies_desc['over_length'] = movies_desc.overview.str.count('\w+') #добавляем столбец, с количеством слов в описании 
movies_desc.production_companies = movies_desc.production_companies.str.split('|') # разделяем студии на списки
movies_desc = movies_desc.explode('production_companies') # разделяем списки по строкам
movies_desc_length = movies_desc.groupby(['production_companies'])['over_length'].mean().sort_values(ascending=False)
#групируем по студиям вычисляя среднюю длину описания и сортируем по убыванию
movies_desc_length.index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [184]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

rating = data.copy()

rating = rating.sort_values(by=['vote_average'], ascending=False).reset_index() #сортируем по рейтингу

rating.original_title.head(19) #т.к. в таблице 1889 фильмов, запрашиваем первые 19 названий, которые составляют top-1%

0                                   The Dark Knight
1                                      Interstellar
2                                The Imitation Game
3                                        Inside Out
4                                              Room
5                           The Wolf of Wall Street
6                                         Gone Girl
7                                  12 Years a Slave
8                           Guardians of the Galaxy
9     The Lord of the Rings: The Return of the King
10                                          Memento
11                                        Inception
12                                      The Pianist
13                         The Grand Budapest Hotel
14                                              Her
15                                        Spotlight
16                                       Big Hero 6
17                           The Fault in Our Stars
18            The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [185]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

movie_pair = data.copy()

movie_pair.cast = movie_pair.cast.str.split('|') # разделяем cast на списки
movie_pair = movie_pair.assign(actor = movie_pair.cast) # дублируем колонку cast
movie_pair = movie_pair.explode('actor') # разделяем списки актеров
movie_pair = movie_pair.groupby(['actor'])['cast'].sum() #группируем по актерам складывая cast

movie_pair = movie_pair.reset_index()
movie_pair['cast'] = movie_pair.apply(self_filter,axis=1) #очищаем колонку cast от индексируемого актера

pairs = pd.DataFrame(movie_pair)

pairs = pairs.assign(pair_count = pairs.cast.apply(lambda x: (dict(Counter(x).most_common(1))).items())) #считаем количество повторений в словарь и выводим самого часто упоминаемого актера
pairs = pairs.explode('pair_count') #рвем словарь
pairs['pair'], pairs['count'] = zip(*pairs.pair_count) #разбиваем колонку на две
pairs = pairs.sort_values(by=['count'], ascending=False).reset_index(drop=True) #сортируем по количеству упоминаний
pairs = pairs[['actor','pair','count']]

pairs.head(1)

              actor          pair  count
0  Daniel Radcliffe  Rupert Grint      8

ВАРИАНТ 2

In [186]:
pairs = Counter() # заводим счетчик

for i in range(0,len(data)): 
    artists = data.cast[i].split('|') # проходимся по строкам датафрейма и разбиваем актерский состав на списки
    for j in list(combinations(artists, 2)): # проходимся по каждому списку и создаем парные комбинации
        if j not in pairs:
            pairs[j] = 1 # если пара еще не упоминалась, отмечаем первое упоминание
        else:
            pairs[j] += 1 # если пара уже встречалась - увеличиваем количество упоминаний на 1

pairs.most_common(1) # выводим пару с максимальным количеством упоминаний

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [187]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '109.66',
 '5': '107.0',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [90]:
# и убедиться что ничего не пропустил)
len(answers)

27